{% extends "base.html" %}

{% block title %}Add Expense{% endblock %}

{% block content %}

{% load static %}
<div class="container mt-5">
    <h1 class="mb-4">Add Expense</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="d-inline-block">
            <button type="submit" class="btn btn-info">Add Expense</button>
        </div>
        <div class="d-inline-block">
            <a href="{% url 'index' %}" class="btn btn-secondary">Back to Home</a>
        </div>
    </form>
</div>


<!-- Script for datepicker -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(function() {
        $("#datepicker").datepicker({
            dateFormat: 'dd-mm-yy',
            firstDay: 1,
            autoclose: true,
            todayHighlight: true
        });
    });
</script>
{% endblock %}
